*{
    margin: 0;
    font-family: arial;
    border: border-box;
}
.navbar{
    height: 60px;
    background-color: #0f1111;
    color: white;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
}
.navlogo{
    height: 50px;
    width: 100px;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100%;
}
.border{
    border: 1.5px solid transparent;
}
.border:hover
{
    border: 1.5px solid white;
    border-radius: 5%;
}
/* box2 of navbar */
.addfirst{
    font-size: 12px;
    color: #cccccc;
    margin-left: 12px;
}
.addsec{
    font-size: 14px;
    color: #ffffff;
}
.icon{
    display: flex;
    align-items: center;
}
/* box3 of navbar */
.navsearch{
    display: flex;
    width: 620px;
    height: 40px;
    border-radius: 4px;
    background-color: aqua;
    justify-content: space-between;
}
 a{
    text-decoration: none;
    color: #fff
}
.search_select{
    background-color: #f3f3f3;
    width: 50px;
    text-align: center;
   border-top-left-radius: 4px;
   border-bottom-left-radius: 4px;
   border :none;
}
.searchitem{
    width: 100%;
    font-size: 1rem;
    border: none;
}
.search_icon{
    width: 45px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.2rem;
 background-color:#febd68;
 border-top-right-radius: 4px;
 border-bottom-right-radius: 4px;
 color: #0f1111;}
/* box4 navbar */
.navfirst{
    font-size:0.7rem;
}
.navsec{
    font-size: 0.85rem;
    font-weight: 700;
}
.navsearch:hover{
    border: 2px solid orange;
   }
.navcart i{
    font-size: 30px;
}
.navcart{
    font-size: 0.85rem;
    font-weight: 700;
}

/* pannel */
.panel{
    height: 39px;
    background-color: #222f3d;
    display: flex;
    color: white;
    align-items: center;
    justify-content: space-evenly;

    
}
.panops{
    width: 70%;
    font-size: 0.85rem;
    
   
}
.panops a{
    margin-left: 15px;
    text-decoration: none;
    color:#ffffff;
}
.pan3{
    font-size: 0.9rem;
    font-weight: 700;
}
/* hero section */
.herosec{
    height: 350px;
    background-image: url("hero_image.jpg");
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}
.herotext{
    display: flex;
    background-color: #ffffff;
    color: black;
    height: 40px;
    align-items: center;
    justify-content: center;
    font-size: 0.85rem;
    width: 80%;
    margin-bottom: 25px;
    
}
.herotext a{
    font-size: 0.85rem;
    color:#007185;
    text-decoration: none;

}
/* shop section */
.box{
height: 300px;
width: 23.5%;
background-color: white;
padding: 20px 0px 15px;
margin-top: 15px;

}
.shopsec{
    display: flex;
    justify-content: space-evenly;
    background-color: #e2e7e6;
    flex-wrap: wrap;
} 
.boximg{
    height: 200px;
    background-size: cover;
    margin-top: 1rem;
    margin-bottom: 1rem;
}
.boxcont{
    margin-left: 1rem;
    margin-right: 1rem;
}
.boxcont p{
    color: #007185;
}
/* footer styling */
.foot1{
    background-color: #37475a;
    color: white;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 0.5rem;
}
footer{
    margin-top: 15px;
    
}
.foot2 a{
    
    display: block;
    font-size: 0.85rem;
    margin-top: 10px;
    color: #DDDDDD;

}
.foot2{
    height: 300px;
    background-color: #222f3d;
    display: flex;
    justify-content: space-evenly;
    

}
.foot2 p{
    color: white;
}
ul{
    margin-top: 20px;
}
.foot3{
    background-color: #222f3d;
    color: #ffffff;
    border-top: 0.5px solid white;
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.logo{
    background-image: url(amazon_logo.png);
    background-size: cover;
    height: 50px;
    width: 100px;
}
.foot4{
    
    background-color:#0f1111;
    color: white;
    height: 70px;
    font-size: 0.7rem;
    text-align: center;
    
}
.pages{
   
    padding-top: 25px;
}
.copyright{
   
    padding-top: 5px;
}

.sidebar{
    background-color: #fff;
    width: 380px;
    height: 100%;
    transition: all 0.5s;
    position: absolute;   
    z-index: 10;
    overflow-y: scroll;
    box-shadow: 2px 2px 30px black;
    list-style: none;
    display: none;
   
}
.hdn_cont li{
    list-style: none;
} 
.hdn_head{
    background-color: #232f3e;
    height: 60px;
    width: 100%;
    color: #fff;
    text-align: center;
}
.hdn_head h2{
    line-height: 60px;
}
.hdn_cont h3{
    padding: 20px 25px;
    color: rgb(39,39,39);

}
.hdn_cont ul div{
    display: flex;
    cursor: pointer;
    transition: all 0.2s;
    font-size: 14px;
    color: rgb(70,70,70);
    padding: 15px 25px;
    justify-content: space-between;
}
.fa-angle-right{
    color:rgb(27,27,27)

}
.hdn_cont ul div:hover{
    background-color: rgb(230,227,227);
}
.hdn_cont ul{
    padding-bottom: 9px;
}
.fa-xmark{
    top: 20px;
    left:400px;
    position: absolute;
    font-size: 30px;
    z-index: 101;
    color: #fff;
    display: none;
}
.shopsec a{
    color: #007185;
}

    

.clothing img{
    background-size: cover;
    height: 300px;
}
.buttonx{
    align-items: center;
    width: 100%;
    color:#222f3d ;
    background-color:  orange;
    height: 30px;
    margin-bottom: 2px;
}
.price{
    margin-top: 5px;
}

/* General Mobile Styles */
@media only screen and (max-width: 600px) {
    /* Navbar */
    .navbar {
      flex-direction: column;
    }
    .navlogo, .address, .navsearch, .navsign, .navcart {
      width: 100%;
      margin: 5px 0;
      text-align: center;
    }
  
    /* Sidebar */
    .sidebar {
      width: 100%;
    }
    .sidebar .hdn_cont ul {
      display: flex;
      flex-direction: column;
    }
  
    /* Hero Section */
    .herosec {
      padding: 10px;
      text-align: center;
    }
  
    /* Shop Section Boxes */
    .shopsec {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }
    .shopsec .box {
      width: 100%;
      margin: 10px 0;
    }
  
    /* Footer */
    .foot2 {
      display: flex;
      flex-direction: column;
      align-items: center;
    }
    .foot2 ul {
      width: 100%;
      text-align: center;
    }
  }
  
  
